.wrapper
  .container
    max-width: 1280px
    margin: 0 auto

    .breadcrumbs
      padding-top: 45px
      margin-bottom: 30px
      font-family: "Gilroy"
      position: relative
      &::after
        content: ''
        position: absolute
        bottom: -10px
        background: #000
        opacity: 0.8
        height: 1px
        width: 100%
        border-radius: 10px
      .link_to_home
        display: flex
        align-items: center
        font-size: 18px
      .typography
        font-family: "Gilroy"
    .profile_img
      margin-bottom: 50px

    .name_vacancies
      font-size: 26px
      margin-bottom: 12px
    
    .card
      padding-top: 34px

      .card_data_titles
        margin-bottom: 45px
        position: relative
        &::after
          content: ''
          position: absolute
          bottom: -20px
          width: 20%
          height: 5px
          background: #00013d
          border-radius: 10px
        .card_data 
          font-size: 17px
          margin-bottom: 12px
      
      .card_data_desc
        margin-bottom: 12px
        .trebovanya
          font-size: 18px
          display: flex
          flex-direction: column
          gap: 10px
          position: relative
          &::after
            content: ''
            position: absolute
            bottom: -15px
            width: 20%
            height: 5px
            background: #00013d
            border-radius: 10px
          span
            font-size: 16px
            color: #000
            opacity: 0.8
      .responsibilities
        margin-top: 24px
        .responsibilities_title
          font-size: 17px
          li
            font-size: 16px
            margin-top: 10px
            color: #000
            opacity: 0.8
            width: 280px

.publication
  margin-top: 24px
  .data_publication
    color: #000
    font-size: 17px

.data_public_desc
  font-size: 16px
  opacity: 0.8

.btn_wrap
  padding-top: 25px

.btn
  padding: 15px 20px
  width: 250px
  border-radius: 8px
  font-size: 15px
  display: flex
  align-items: center
  gap: 8px
  background: #00013d
  color: #fff
  border: none
  .edit_icon
    font-size: 20px