.header
  padding: 30px
  background: #00013d
  color: #fff
  &_container
    max-width: 1280px
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-between

    .logo
      width: 40px

    .nav
      display: flex
      gap: 24px
      font-size: 16px
      align-items: center

      &_link
        transition: .3s all
      .active
        color: #ffcc00
        position: relative
        &::before
          content: ''
          position: absolute
          bottom: -10px
          left: 0
          width: 50px
          height: 4px
          background: #ffcc00
          transition: .4s all
          border-radius: 10px
        // &:hover::before
        //   width: 100%
    .profile
      .user_icon
        font-size: 18px
        color: #fff

.profile_menu, .logOut
  display: flex
  gap: 7px
  align-items: center

.box_profile
  display: flex
  align-items: center
  .notification
    padding-top: 5px
    background: transparent
    display: flex
    align-items: center
    span
      background: red
      padding: 5px
      border-radius: 50%
