.container
  padding-top: 34px
  max-width: 1280px
  margin: 0 auto
  padding-bottom: 100px
  .title
    font-size: 35px
    margin-bottom: 45px
    position: relative
    color: #00013d
    &::before
      content: ''
      position: absolute
      bottom: -5px
      background: #00013d
      width: 10%
      height: 5px
      border-radius: 10px
.wrapper
  background: #e3e3e390
  padding: 20pxsss
  display: flex
  gap: 20px
.box
  width: 50%
  display: flex
  flex-direction: column
  gap: 20px
.input
  background: #FFF
  border-radius: 5px

.box_button
  display: flex
  gap: 20px
  margin-top: 20px
  .btn
    padding: 10px 20px
    background: #139720
    color: #fff
    border: none
    border-radius: 5px
    cursor: pointer
    transition: background 0.3s

    &:hover
      background: #14a722

    &:nth-child(2)
      background: #f00

      &:hover
        background: #d00

.item
  display: flex
  flex-direction: column
  align-items: flex-start
.box_span
  span:nth-child(1)
    color: #7f7f7f
.box_span
  span:nth-child(2)
    color: #000

.box_right_input
  flex: 0 1 100%
  display: flex
  flex-direction: column
  gap: 20px

.textarea
  background: #FFF
  border-radius: 5px
.text
  padding-left: 15px
  color: #7f7f7f

.add
  color: #006aff
  cursor: pointer
  display: flex
  padding: 20
  text-decoration: underline
  margin-left: auto

.content
  border-radius: 5px
  background: #d9d9d990
  opacity: 0
  transition: all 0.3s
  max-height: 0
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 10px
  input
    background: #FFF
    border-radius: 5px
    &.open
      opacity: 1
      max-height: 120px
      padding: 10px
    button
      padding: 5px 10px
      background: #139720
      color: #fff
      border: none
      border-radius: 5px
      cursor: pointer
      transition: background 0.3s
      margin-right: 10px

      &:hover
        background: #14a722
        &:nth-child(2)
          background: #f00

          &:hover
            background: #d00

.breadcrumbs
  padding-top: 45px
  font-family: "Gilroy"
  position: relative
  &::after
    content: ''
    position: absolute
    bottom: -10px
    background: #000
    opacity: 0.8
    height: 1px
    width: 100%
    border-radius: 10px
    .link_to_home
      display: flex
      align-items: center
      font-size: 18px
    .typography
      font-family: "Gilroy"

.loading
  position: absolute
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center

.box_housing
  display: flex
  flex-wrap: wrap
  gap: 20px
  div
    flex: 0 1 100%
.wrapper_img
  display: flex
  flex-wrap: wrap
  gap: 20px
  div
    flex: 0 1 20%
    img
      width: 100%
      height: 100%
      object-fit: cover

.Housingloading
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgb(0,0,0,0.23)
  z-index: 2
