.wrapper
  background: #00000089
  width: 83.3%
  position: absolute
  top: 0
  height: 100%
  z-index: 20


  .modal
    width: 400px
    min-height: 100vh
    background: #00013d9f
    position: fixed
    left: 0
    top: 0
    z-index: 10
    backdrop-filter: blur(2px)
    transition: .4s all

    h3
      color: #fff
      text-align: center
      font-size: 28px
      padding-top: 200px
      z-index: 10

.close
  color: #fff
  position: absolute
  top: 40px
  right: 40px
  font-size: 60px
  cursor: pointer
