.wrapper
  background: #00000089
  width: 83.3%
  position: absolute
  top: 0
  height: 100%
  z-index: 20


  .modal
    width: 450px
    min-height: 100vh
    background: #00013d9f
    position: fixed
    left: 0
    top: 0
    z-index: 10
    backdrop-filter: blur(2px)
    transition: .4s all
    padding: 20px

    .card
      background: #fff
      width: 400px
      border-radius: 7px
      padding: 18px
      .card_company_desc
        padding-top: 6px
        display: flex
        // flex-direction: column
        align-items: center
        gap: 10px

.company
  font-size: 20px
  margin-bottom: 10px

.vacancy, .student
  font-size: 20px
  margin-top: 12px
  margin-bottom: 12px


.student_card
  display: flex
  // align-items: center
  gap: 12px
  // flex-direction: column
  margin-bottom: 20px

.close
  color: #fff
  position: absolute
  top: 13px
  left: 140px
  font-size: 45px
  cursor: pointer


.desc
  display: flex
  flex-direction: column
  gap: 6px

.btn
  padding: 6px 20px
  border-radius: 5px
  font-size: 12px
  // width: 100px
  background: #00013d
  color: #fff