.wrapper
  .container
    max-width: 1280px
    margin: 0 auto
    .title
      font-size: 35px
      padding-top: 34px
      position: relative
      color: #00013d
      &::before
        content: ''
        position: absolute
        bottom: -7px
        background: #00013d
        width: 8%
        height: 5px
        border-radius: 10px

    .cards
      padding-top: 45px
      display: flex
      flex-direction: column
      gap: 24px
      .card
        box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 3px -2px, rgba(0, 0, 0, 0.04) 0px 3px 4px 0px, rgba(0, 0, 0, 0.04) 0px 1px 8px 
        border-radius: 10px
        width: 1280px
        padding: 24px
        display: flex
        justify-content: space-between
        align-items: center
        
.card_info_desc_subTitle, .createXZ, .position_tite
  padding: 4px
  color: #000
  font-size: 16px

.btn_Link
  padding: 10px
  background: #00013d
  border-radius: 6px
  color: #fff